<% title "User Account Created" %>
<% main_header "User Account Created" -%>
<% extra_button "" -%>
<% instructions "You have successfully added a user to the #{PROGRAM_NAME}. That user should receive an email soon with their password. If that email is not received, check that you've entered the correct email address for the user, and check that the email didn't not get filtered out as spam. If you have any problems, contact the webmaster at the link below." -%>

<div class="navigation">
<%= link_to "Continue", editor_path %>
</div>
