<% title "Forgot Password" %>
<% main_header "Retrieving a Forgotten Password." -%>
<% extra_button "" -%>
<% instructions "Enter the same email address below that you used to sign up for #{PROGRAM_NAME}. If you have forgotten your email address, or if it is no longer valid, contact the #{main_editor_link}. Your password will be changed and a new password will be sent to you. After you log on with the new password, you can change it on the Account Maintenance page.<br /><br />Note: If you do not receive an email shortly, try again and be sure that you have entered the email address you use to log into the #{PROGRAM_NAME} system." -%>

<%= form_tag( { :action => 'reset_password' }, { :id => "reset_password" } ) %>
<div class="field-label">Your email address:</div>
<input name="email" id="email" size="50"/><br />
<input type="submit" value="Send me a new password" />
</form>
<br />
<div class="navigation">
<%= link_to "Back to log in page", root_path %>
</div>

